<div class="container d-flex flex-column mb-3" id="contenedor">
  <div class="row mt-1 mb-1">
    <div class="col-lg-4 col-md-4 col-sm-4 col-4"></div>
    <div class="col-4 justify-content-md-center position-relative">
      <div class="col-auto img-fluid rounded-circle shadow-lg">
        <img src="assets/icons/My_image.jpg" alt="logo" class="img-fluid rounded-circle">
      </div>
      <div *ngIf="loggedIn" class="position-absolute top-0 end-0">
        <button class="btn rounded-circle btn-success"><mat-icon>border_color</mat-icon></button>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-3"></div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-1 px-md-0 pe-sm-0 px-0">
      <div class="col-auto">
        <button class="btn btn-sm p-1" type="button" style="border-color: transparent">
          <a href="https://www.linkedin.com/in/francob4/" target="_blank">
            <img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png" alt=""></a></button>
        <button class="btn btn-sm p-1" type="button" style="border-color: transparent">
          <a href="https://github.com/FrancoB4/" target="_blank">
            <img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/733/733553.png" alt=""></a></button>
        <button class="btn btn-sm p-1" type="button" style="border-color: transparent">
          <a href="https://twitter.com/Fran__Bonfiglio" target="_blank">
            <img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/3256/3256013.png" alt=""></a></button>
      </div>
    </div>
  </div>
  <div class="row position-relative justify-content-center">
    <div class="col-auto">
      <h1 class="col-auto masthead-heading text-uppercase bg-transparent text-center text-light
      border-bottom border-end border-light mt-2 px-3"
                         style="color: #d0c8a9; font-size: 1.5rem">Franco Bonfiglio Vázquez
      </h1>
    </div>
    <div *ngIf="loggedIn" class="position-absolute">
      <button class="btn rounded-circle btn-success"><mat-icon>border_color</mat-icon></button>
    </div>
  </div>
</div>
