<div class="container d-flex flex-column"
     style="background-color: rgb(22, 70, 77);">
  <div class="row mb-0">
    <div class="col-md-4"></div>
    <div class="col-md-4 justify-content-md-center">
      <img class="masthed-avatar mb-5" src="../../../assets/icons/avataaars.svg" alt="">
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-1">
      <button class="btn btn-sm" type="button" style="border-color: transparent">
        <a href="https://www.linkedin.com/in/francob4/" target="_blank">
          <img class="img-fluid" src="../../../assets/icons/linkedin.png" alt=""></a></button>
      <button class="btn btn-sm" type="button" style="border-color: transparent">
        <a href="https://github.com/FrancoB4/" target="_blank">
          <img class="img-fluid" src="../../../assets/icons/github.png" alt=""></a></button>
      <button class="btn btn-sm" type="button" style="border-color: transparent">
        <a href="https://twitter.com/Fran__Bonfiglio" target="_blank">
          <img class="img-fluid" src="../../../assets/icons/twitter.png" alt=""></a></button>
    </div>
  </div>
  <div class="row justify-content-center">
    <h1 class="col-md-auto masthead-heading text-uppercase"
                       style="color: #D0C6AC;">Franco Bonfiglio Vazquez
    </h1>
  </div>
</div>
