<div class="container d-flex flex-column mb-3">
  <div class="row mt-1 mb-1 justify-content-center">
      <div class="col-10 col-sm-10 col-md-8 col-lg-6 col-xl-4 position-relative">
        <div class="col-auto">
          <img src="assets/icons/My_image.jpg" alt="logo" class="img-fluid rounded-circle">
        </div>
        <div *ngIf="loggedIn" class="position-absolute" style="top: 40px; right: 40px">
          <button class="btn rounded-circle btn-success p-1 pb-0"><mat-icon>border_color</mat-icon></button>
        </div>
      </div>
  </div>
  <div class="row position-relative justify-content-center">
    <div class="col-auto">
      <h1 class="col-auto masthead-heading text-uppercase bg-transparent text-center text-light
      border-bottom border-end border-light mt-2 px-3"
                         style="color: #d0c8a9; font-size: 1.5rem">Franco Bonfiglio Vázquez
      </h1>
    </div>
    <div *ngIf="loggedIn" class="position-absolute">
      <button class="btn rounded-circle btn-success p-1 pb-0"><mat-icon>border_color</mat-icon></button>
    </div>
  </div>
</div>
