<div class="container">
  <div class="row">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg justify-content-between">
        <a class="col-1 navbar-brand">Navbar</a>
        <ul class="navbar-nav col-auto">
          <div class="row">
            <li class="nav-item active col-auto">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item col-auto">
                <a class="nav-link" routerLink="/about">About Me</a>
            </li>
            <li class="nav-item col-auto">
                <a class="nav-link" routerLink="/contact">Projects</a>
            </li>
            <li class="nav-item col-auto">
                <a class="nav-link" routerLink="/contact">Contact</a>
            </li>
          </div>
        </ul>
    </nav>
  </div>
  <app-about-me class="row"></app-about-me>
</div>
