<div class="container border-start border-light text-light">
  <div class="row justify-content-between">
    <h4 class="col-auto">Educación:</h4>
    <div *ngIf="loggedIn" class="col-auto">
      <button class="btn rounded-circle btn-success">A</button>
    </div>
  </div>

  <div class="container me-0">
    <div *ngFor="let study of studies" class="row border-bottom mb-2">
      <div class="col-auto">
        <h5>{{study.institution}}</h5>
        <p>{{study.description}}</p>
      </div>
      <div class="col-auto row">
        <div class="col-4">
          <p class="text-end mb-2">{{study.date}}</p>
          <p class="text-end">{{study.state}}</p>
        </div>
        <div *ngIf="loggedIn" class="col-auto">
          <button class="btn rounded-circle btn-success">A</button>
        </div>
      </div>
    </div>

    <div class="row border-bottom mb-2 justify-content-between">
      <div class="col-auto">
        <h5>Universidad Tecnológica Nacional</h5>
        <p>Estudiante de Ingeniería en Sistemas de Información</p>
      </div>
      <div class="col-auto row">
        <div class="col-auto">
          <p class="text-end mb-2">2022 - Actualidad</p>
          <p class="text-end">En curso (2do año)</p>
        </div>
        <div *ngIf="loggedIn" class="col-auto">
          <button class="btn rounded-circle btn-success">A</button>
        </div>
      </div>
    </div>
    <div class="row border-bottom mb-2 justify-content-between">
      <div class="col-auto">
        <h5>Argentina Programa</h5>
        <p>Desarrollador Full-stack</p>
      </div>
      <div class="col-auto row">
        <div class="col-auto">
          <p class="text-end mb-2">2022 - Actualidad</p>
          <p class="text-end">En curso</p>
        </div>
        <div *ngIf="loggedIn" class="col-auto">
          <button class="btn rounded-circle btn-success">A</button>
        </div>
      </div>
    </div>
    <div class="row border-bottom mb-2 justify-content-between">
      <div class="col-auto">
        <h5>Platzi.com</h5>
        <p>Escuella de Machine Learning / Machine Learning Engineering</p>
      </div>
      <div class="col-auto row">
        <div class="col-auto">
          <p class="text-end mb-2">2021 - 2022</p>
          <p class="text-end">Finalizado</p>
        </div>
        <div *ngIf="loggedIn" class="col-auto">
          <button class="btn rounded-circle btn-success">A</button>
        </div>
      </div>
    </div>
    <div class="row border-bottom mb-2 justify-content-between">
      <div class="col-auto">
        <h5>Escuela Superior de Comercio Manuel Belgrano</h5>
        <p>Bachiller en Economia y Administracion</p>
      </div>
      <div class="col-auto row">
        <div class="col-auto">
          <p class="text-end mb-2">2013 - 2019</p>
          <p class="text-end">Finalizado</p>
        </div>
        <div *ngIf="loggedIn" class="col-auto">
          <button class="btn rounded-circle btn-success">A</button>
        </div>
      </div>
    </div>
    <div class="row border-bottom mb-2 justify-content-between">
      <div class="col-auto">
        <h5>Fundacion Funiversity</h5>
        <p>Curso en Desarrollo de videojuegos ( I - II )</p>
      </div>
      <div class="col-auto row">
        <div class="col-auto">
          <p class="text-end mb-2">2018 - 2019</p>
          <p class="text-end">Finalizado</p>
        </div>
        <div *ngIf="loggedIn" class="col-auto">
          <button class="btn rounded-circle btn-success">A</button>
        </div>
      </div>
    </div>
    <div class="row mb-2 justify-content-between">
      <div class="col-auto">
        <h5>Escuela Superior de Comercio Manuel Belgrano</h5>
        <p>Bachiller en Economia y Administracion</p>
      </div>
      <div class="col-auto row">
        <div class="col-auto">
          <p class="text-end mb-2">2013 - 2019</p>
          <p class="text-end">Finalizado</p>
        </div>
        <div *ngIf="loggedIn" class="col-auto">
          <button class="btn rounded-circle btn-success">A</button>
        </div>
      </div>
    </div>
  </div>
</div>
