<div class="container d-flex flex-column position-relatives mb-3 pt-1">
  <div class="row justify-content-between">
    <h1 class="col-auto ms-3 mt-2 text-light border-end border-bottom border-light">MIS PROYECTOS:</h1>
    <div *ngIf="loggedIn" class="col-auto mt-2">
      <button class="btn rounded-circle btn-success" (click)="toggleAdd()">+</button>
    </div>
  </div>


  <app-create-project *ngIf="adding && loggedIn"></app-create-project>

  <div class="row card-group">
    <!-- For bucle in future -->
    <app-project-card *ngFor="let project of projects"
                      class="col-xl-3 col-md-4 col-sm-6 col-12 mb-3"
                      [image]="project.image" [name]="project.name"
                      [description]="project.description" [url]="project.url" [id]="project.id">
    </app-project-card>
  </div>
</div>
