<div class="col-auto">
  <h5>{{study.institution}}</h5>
  <p>{{study.description}}</p>
</div>
<div class="col-auto row">
  <div class="col-auto">
    <p class="text-end mb-2">{{study.startDate}}</p>
    <p class="text-end">{{study.state}}</p>
  </div>
  <div *ngIf="loggedIn" class="col-auto">
    <button class="btn rounded-circle btn-outline-success rounded-circle p-1 pb-0" (click)="toggleUpdating()">
      <mat-icon>border_color</mat-icon></button>
  </div>
  <div *ngIf="loggedIn" class="col-auto">
    <button class="btn rounded-circle btn-outline-danger p-1 pb-0" (click)="deleteStudy()">
      <mat-icon>delete</mat-icon></button>
  </div>
</div>
<app-studies-update *ngIf="updating&&loggedIn" [study]="study" class="row"></app-studies-update>
