<div class="card text-dark">
  <div class="card-body">
    <h5 class="card-title text-center">Add Project:</h5>
    <form [formGroup]="form" (ngSubmit)="onSubmitted($event)">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="{{name}}"
             formControlName="name">

      <label for="description">Description</label>
      <textarea class="form-control mb-1" id="description" placeholder="{{description}}"
                formControlName="description" rows="3"></textarea>

      <label for="url">Link</label>
      <input type="text" class="form-control mb-1" id="url" placeholder="{{url}}"
             formControlName="url">

      <label for="image">Image Link</label>
      <input type="text" class="form-control mb-1" id="image" placeholder="{{image}}"
             formControlName="image">

      <div class="row justify-content-between">
        <button class="col-auto btn btn-primary mt-2 me-2" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
