<div class="master-background" id="master-background">
  <div class="container ms-3 ps-1 ms-sm-auto ps-sm-0">
    <app-header class="row"></app-header>

    <div class="row blur-background shadow-lg" style="margin: 70px 0 20px -24px;">
      <app-about-me class="col mt-5"></app-about-me>
    </div>
    <div class="row">
      <div class="row bg-dark">
        <app-projects class="col"></app-projects>
      </div>
      <div class="row blur-background">
        <app-contact class="col"></app-contact>
      </div>

      <div class="row bg-dark">
        <app-academic class="col"></app-academic>
      </div>

      <div class="row blur-background">
        <app-certifications class="col"></app-certifications>
      </div>

      <div class="row bg-dark">
        <app-footer class="col"></app-footer>
      </div>
    </div>
  </div>
</div>

