<div class="container text-light" style="background-color: rgb(22, 70, 77); font-family: Times, Times New Roman, serif;">
  <div class="row">
    <h1>Certificaciones: </h1>
  </div>
  <div class="row card-group pb-2">
    <!-- For loop in future -->
      <div *ngFor="let i of x" class="col-md-3 pb-2">
        <div class="card">
          <a href="https://github.com/FrancoB4/FinalProjectFrontend" target="_blank">
            <img src="https://i.pinimg.com/564x/34/93/63/349363f73373c0783b5ea72086232202.jpg" class="card-img-top" alt="...">
          </a>
        </div>
      </div>
  </div>
</div>
