<div class="container">
  <div class="row justify-content-between">
    <h4 class="text-light col-auto">Competencias:</h4>
    <div *ngIf="loggedIn" class="col-auto">
      <button class="btn rounded-circle btn-outline-success" (click)="toggleAdding()">+</button>
    </div>
  </div>

  <app-create-competence *ngIf="adding && loggedIn" class="row mb-2"></app-create-competence>

  <ul class="list-group list-group-flush">

    <li *ngFor="let competence of competences" class="list-group-item text-light border-light bg-dark">
      <app-competences-card [name]="competence.name" [level]="competence.level" [id]="competence.id">
      </app-competences-card>
    </li>
    <li class="list-group-item text-light border-light bg-dark"></li>
  </ul>
</div>
