<div class="container">
  <div class="row justify-content-between">
    <h4 class="text-light col-auto">Competencias:</h4>
    <div *ngIf="loggedIn" class="col-auto">
      <button class="btn rounded-circle btn-success" (click)="toggleAdding()">+</button>
    </div>
  </div>

  <app-create-competence *ngIf="adding && loggedIn" class="row mb-2"></app-create-competence>

  <ul class="list-group list-group-flush">

    <li *ngFor="let competence of competences" class="list-group-item text-light border-light">
      <div class="row">
        <div class="col-auto"><p>{{competence.name}}</p></div>
        <div class="col"><p *ngFor="let i of competence.levels" class="text-end">☆</p></div>
        <div *ngIf="loggedIn" class="col-auto">
          <button class="btn rounded-circle btn-success"><mat-icon>border_color</mat-icon></button>
        </div>
      </div>
    </li>

    <li class="list-group-item text-light border-light bg-transparent">
      <div class="row">
        <div class="col-auto"><p>Python Development</p></div>
        <div class="col"><p class="text-end">☆☆☆☆☆</p></div>
        <div *ngIf="loggedIn" class="col-auto">
          <button class="btn rounded-circle btn-success"><mat-icon>border_color</mat-icon></button>
        </div>
      </div>
    </li>
    <li class="list-group-item text-light border-light bg-transparent">
      <div class="row">
        <div class="col-auto"><p>Web Scraping</p></div>
        <div class="col"><p class="text-end">☆☆☆☆</p></div>
        <div *ngIf="loggedIn" class="col-auto">
          <button class="btn rounded-circle btn-success"><mat-icon>border_color</mat-icon></button>
        </div>
      </div>
    </li>
    <li class="list-group-item text-light border-light bg-transparent">
      <div class="row">
        <div class="col-auto"><p>Backend Development</p></div>
        <div class="col"><p class="text-end">☆☆☆☆</p></div>
        <div *ngIf="loggedIn" class="col-auto">
          <button class="btn rounded-circle btn-success"><mat-icon>border_color</mat-icon></button>
        </div>
      </div>
    </li>
    <li class="list-group-item text-light border-light bg-transparent">
      <div class="row">
        <div class="col-auto"><p>Game Development (Unity)</p></div>
        <div class="col"><p class="text-end">☆☆☆</p></div>
        <div *ngIf="loggedIn" class="col-auto">
          <button class="btn rounded-circle btn-success"><mat-icon>border_color</mat-icon></button>
        </div>
      </div>
    </li>
    <li class="list-group-item text-light border-light bg-transparent">
      <div class="row">
        <div class="col-auto"><p>Frontend Development</p></div>
        <div class="col"><p class="text-end">☆☆☆</p></div>
        <div *ngIf="loggedIn" class="col-auto">
          <button class="btn rounded-circle btn-success"><mat-icon>border_color</mat-icon></button>
        </div>
      </div>
    </li>
    <li class="list-group-item text-light border-light bg-transparent">
      <div class="row">
        <div class="col-auto"><p>Java Development</p></div>
        <div class="col"><p class="text-end">☆☆☆</p></div>
        <div *ngIf="loggedIn" class="col-auto">
          <button class="btn rounded-circle btn-success"><mat-icon>border_color</mat-icon></button>
        </div>
      </div>
    </li>
    <li class="list-group-item text-light border-light bg-transparent"></li>
  </ul>
</div>
